<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My companyes</h1>
    <p>company name</p>
    <div id="sidebar">
        <ul>
            {% for item in data %}
            <li><a href={% url 'company' item %}> {{ item }} </a> </li>
            
            {% endfor%}
        </ul>
        {% block sidebar %}
        {% endblock %}

    </div>
</body>
</html>